@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
li {
    list-style: none;
}
header{
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    color: #000;
}
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.nav-item {
    margin: 15px;
}
#product-container {
    display: grid;
    margin: 40px auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
} 
.btn-carrito {
    width: 150px;
    height: 30px;
    background-color: #fafafa;
    border-radius: 8px;
    border: gray solid 1px;
    font-weight: bold;
}

.card .card-image .card-title {
    color: dodgerblue;
    position: unset;
}  

img {
    max-width: 150px;
    max-height: 200px;
    margin-bottom: 10px ;
}

.card{
    width: 300px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 25px 0px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

p {
    font-size: 12px;
    margin: 5px;
}
.btn-addToCart {
    height: 30px;
    background-color: green;
    color: #ffffff;
    width: 150px;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
    font-weight: bold;
}

/* Modal */
.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  position: relative;
  top: 10;
  z-index: 1;
  background-color: grey;
} 

/* hacer visible el modal  */
.modal-cart{
  z-index: 2;
  width: 400px;
  height: 300px;
  background-color: #fafafa;
  border: grey solid 1px;
  border-radius: 8px;
  display: flex;
  justify-content: flex-start;
  color: #000;

}

.productoEnCarrito {
  border-left: 5px solid lightblue;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  margin: 5px 0;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}

.boton-eliminar {
  background-color: white;
  color: lightblue;
  border: none;
  font-size: 20px;
}

